[user]
	email = dev.jameswhite@gmail.com
	name = James White
	signingkey = FF73BFA03BA10A41
[alias]
	c = commit
	p = push
	s = status
	aa = add --all
	ac = commit --amend --no-edit
	di = diff
	ds = diff --staged
	bd = branch -D
	co = checkout
	cp = cherry-pick
	br = branch
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	unstage = reset HEAD
	up = pull --rebase --autostash
	fu = commit -a --fixup
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
[core]
	pager = less -FXRS -x2
	excludesfile = ~/.gitignore_global
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[branch]
	autosetupmerge = true
	autosetuprebase = always
[rebase]
	autosquash = true
	autostash = true
[merge]
	ff = only
[push]
	default = simple
	autoSetupRemote = true
[credential]
	helper = osxkeychain
[url "git@github.com:"]
        insteadOf = https://github.com/
[commit]
	gpgsign = true
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
[pull]
	rebase = true
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
